@import 'settings.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,600');

body {
  background: #ced6e0;
  overflow-y: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}
