@import '../../../styles/settings.scss';

.singleProduct {
  height: 100vh;
  padding: 15px;
  font-size: 22px;
  overflow-y: hidden;

  .swiper {
    height: 50%;

    .swiperSlide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .mobileView {
    display: none;
  }

  .bottomPanel {
    display: flex;
    .leftSide {
      width: 70%;

      .productDescription {
        word-spacing: 3px;
        span {
          font-weight: bold;
        }
      }
    }

    .rightSide {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .actionsWrapper {
        form,
        p,
        div {
          margin: 30px 0;
        }

        form {
          width: 100%;
          .actionInput,
          .qtyInput {
            width: 90px;
            font-size: 55px;
          }
          .actionInput {
            cursor: pointer;
            background: transparent;
            border: none;
            border-bottom: 5px solid black;
            transition: all 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
          }
          .actionInput:hover {
            color: white;
            border-bottom: 5px solid white;
            transition: all 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
          }
          .qtyInput {
            background: transparent;
            border: none;
            border-bottom: 5px solid black;
            text-align: center;
          }
        }
        p {
          font-size: 28px;
        }

        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .singleProduct {
    height: auto !important;

    .swiper {
      display: none;
    }

    .mobileView {
      display: block !important;
      .mobileViewProduct {
        margin-bottom: 15px;
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .bottomPanel {
      display: block;
      .leftSide {
        width: 100%;
      }

      .rightSide {
        width: 100%;

        form {
          .actionInput,
          .qtyInput {
            font-size: 30px !important;
          }
        }
      }
    }
  }
}
