@import '../../../styles/settings.scss';

.root {
  height: 100%;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiperSlide {
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 15;
      overflow: hidden;
      opacity: 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 19;
      opacity: 1;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .prevButton {
    background-color: black;
  }

  .mobileView {
    display: none;
  }
}

.root {
  .swiperSlide:hover {
    .overlay {
      opacity: 1;
    }

    img {
      opacity: 0;
      cursor: url('../../../assets/cursor.png'), auto;
    }
  }
}

:root {
  --swiper-theme-color: #000;
}
