@import '../../../styles/settings.scss';

.homepage {
  height: 100vh;
  opacity: 1;
  animation: appear .5s cubic-bezier(0.25, 0.1, 0.25, 1);

  .btnWrapper {
    position: fixed;
    top: 20px;
    right: 60px;
    width: 45px;
    height: 45px;
  }

  .topPanel {
    height: 50%;
    padding: 15px;
  }
  .bottomPanel {
    height: 50%;
    padding: 15px;

    .about {
      cursor: pointer;
    }

    .logo {
      height: 100%;
      width: 100%;
      padding: 0;
      opacity: 1;
      animation: appear .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .about {
      height: 100%;
      width: 100%;
      padding: 0;
      display: none;
      opacity: 0;
      animation: disappear .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .aboutSection {
      opacity: 1;
      animation: appear .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}

.homepage {
  .bottomPanel:hover {
    .logo {
      display: none;
      opacity: 0;
      animation: disappear .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .about {
      display: inline;
      opacity: 1;
      animation: appear .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
