@import '../../../styles/settings.scss';

.cartButton {
  position: fixed;
  z-index: 999;
  top: 15px;
  right: 80px;
  width: 60px;
  height: 60px;
  background-color: $black;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;

  .btn {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: $white;
  }
}

.cartButton:hover {
  transform: rotate(-360deg);
}

@media (max-width: 767px) {
  .cartButton {
    top: 70px;
    right: 15px;
    width: 45px;
    height: 45px;
  }
}
